<div class="container-fluid">
  <h1>Discover TV Shows</h1>

  <div class="row">
    <div [class.col-md-8]="shows" *ngIf="shows">
      <h2>Shows <small>20 / {{ total_results }}</small></h2>
      <ul class="media-list">
        <li class="media" *ngFor="let show of shows">
          <div class="media-left">
            <a [routerLink]="['/tv', show.id, show.name | prettyUrl]">
              <img class="media-object" [src]="'http://image.tmdb.org/t/p/w92' + show.poster_path" [alt]="show.name">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ show.name }}</h4>
            <p class="lead">{{ show.overview }}</p>
          </div>
        </li>
      </ul>
      <pagination [itemsPerPage]="20" [(ngModel)]="page" [totalItems]="total_results" [maxSize]="20" class="pagination-sm"
                [boundaryLinks]="true" (pageChanged)="changePage($event)"></pagination>
    </div>
    <div [class.col-md-4]="shows" [class.col-md-12]="!shows">
      <form [formGroup]="form" (submit)="submitForm()">
        <legend>Criteria</legend>

        <div class="form-group" *ngFor="let field of availableFields">
          <template [ngIf]="formFields[field] && (formFields[field].type == 'text' || formFields[field].type == 'number' || formFields[field].type == 'date')">
            <label> {{ formFields[field].title }} </label>
            <input [type]="formFields[field].type" class="form-control" [formControlName]="field" [id]="field" [placeholder]="formFields[field].placeholder">
          </template>

          <template [ngIf]="formFields[field] && (formFields[field].type == 'boolean')">
            <label>
              <input [formControlName]="field" type="checkbox"> {{ formFields[field].title }}
            </label>
          </template>

          <template [ngIf]="formFields[field] && (formFields[field].type == 'multi-select')">
            <label>{{ formFields[field].title }}</label>
            <select [multiple]="true" class="form-control" [formControlName]="field">
              <option *ngFor="let item of selects[field]" [value]="item.id">{{ item.name }}</option>
            </select>
          </template>

          <template [ngIf]="formFields[field] && (formFields[field].type == 'select')">
            <label>{{ formFields[field].title }}</label>
            <select [multiple]="false" class="form-control" [formControlName]="field">
              <option *ngFor="let item of selects[field]" [value]="item">{{ item }}</option>
            </select>
          </template>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

</div>