/* You can add global styles to this file, and also import other style files */

.badge.primary {
  background-color: #337ab7
}

.badge.success {
  background-color: #5cb85c
}

.badge.danger {
  background-color: #d9534f;
}

.badge.info {
  background-color: #5bc0de;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

.progress {
  margin-bottom: 0px !important;
}